@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@theme{
    --font-gilroy: "Gilroy", sans-serif;
    --color-primary: #59A96A;
    --color-secondary: #9BDEAC;
    --color-gray: #838383;
}