@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@theme{
    --font-gilroy: "Gilroy", sans-serif;
    --color-primary: #59A96A;
    --color-secondary: #9BDEAC;
    --color-gray: #838383;
    --color-input: #8EFFA6;
    --color-light-green: #4CC766;
    --background-image-greenCard: linear-gradient(90deg, #59A96A 0%, #51D26C 100%);
}

@utility flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@utility flex-col-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@utility header-font {
  @apply text-[36px] leading-8 font-bold;
}
@utility input-design {
  @apply bg-input p-2 rounded-lg focus:outline focus:outline-green-500;
}
@utility button-calc-design {
  @apply flex items-center gap-1 text-white font-bold rounded-full bg-[#4CC766] py-3 px-12 text-xl;
}
@utility container{
  @apply w-full h-full flex flex-col items-center;
}