@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input:focus{
  outline: 1px solid oklch(72.3% 0.219 149.579);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@theme{
    --font-gilroy: "Gilroy", sans-serif;
    --color-primary: #59A96A;
    --color-secondary: #9BDEAC;
    --color-gray: #838383;
    --color-input: #8EFFA6;
    --color-light-green: #4CC766;
    --color-light-gray: #C2C2C2;
    --background-image-greenCard: linear-gradient(90deg, #59A96A 0%, #51D26C 100%);
}

@utility flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@utility flex-col-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@utility modal{
  @apply fixed flex flex-col items-center inset-0 z-30 bg-white;
}
@utility header-font {
  @apply text-[36px] leading-8 font-bold;
}
@utility header-cont {
  @apply flex flex-col items-center py-8;
}
@utility input-design {
  @apply bg-input p-2 rounded-lg;
}
@utility button-calc-design {
  @apply flex items-center gap-1 text-white font-bold rounded-full bg-light-green py-3 px-12 text-xl;
}
@utility container{
  @apply w-full h-full flex flex-col items-center;
}
@utility input-label-cont{
  @apply flex flex-col items-start gap-px;
}
@utility list-card{
  @apply flex items-center text-xl transition-all font-bold justify-between border-3 rounded-xl py-3 pl-2 pr-4;
}
@utility floating-input{
  @apply fixed flex flex-col scale-0 gap-4 px-5 left-0 right-0 pt-5 pb-4 rounded-t-xl transition-all;
}
@utility floating-h1{
  @apply font-bold text-lg tracking-wide;
}
@utility shadow-button{
  @apply shadow-[-10px_-10px_30px_4px_rgba(0,100,0,0.1),10px_10px_30px_4px_rgba(0,100,0,0.15)];
}